* {
    color: white;
    font-family: "Microsoft YaHei";
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background-image: url(Images/bg.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.head {
    margin: 0 auto;
    font-size: 40px;
    width: 1540px;
    height: 100px;
}

.index,
.games,
.other,
.info {
    float: left;
    background-color: rgb(125, 127, 128);
    height: 100px;
    width: 385px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: rgb(71, 71, 72);
}

h1 {
    font-size: 150px;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

.YE {
    width: 600px;
    margin: 10px 600px;
}

.green {
    color: green;
}

.nav {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    /* border-radius: 10%; */
    margin: 0 auto;

}

.nav:hover {
    box-shadow: 5px 5px 10px 1px gray;
    /* box-shadow: 水平阴影距离 垂直阴影距离 模糊距离 阴影尺寸 阴影颜色 内外部（默认外部outset省略不写）; */
}